################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Week290/Week290/obj
/Week290/Week290/bin
/*/.vs/
